<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		 xmlns="http://java.sun.com/xml/ns/javaee" 
		 xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_4_0.xsd" 
		 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_4_0.xsd"
		 id="WebApp_ID" version="4.0">
		 
    <!-- Se definen el displayName y la pagina de inicio de la aplicacion. -->
	<display-name>/gestionsoft</display-name>
	<welcome-file-list>
		<welcome-file>/index.html</welcome-file>
	</welcome-file-list>
	
	<!-- Parametro en donde se indica la ubicacion de los ficheros de contexto de Spring Framework. -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:applicationContext.xml
					 classpath:applicationContext-dao.xml
		</param-value>
	</context-param>
	
	<!-- Se indica a la aplicacion el sufijo real del fichero que contiene contenido faces 2.0. -->
 	<context-param>
  		<param-name>javax.faces.DEFAULT_SUFFIX</param-name>
  		<param-value>.xhtml</param-value>
 	</context-param>

	<!-- se indica el sufijo por defecto para la gestion de paginas facelets (default) 
		TODO JGP: Cambiar a faces.
	--> 
  	<context-param>
  		<param-name>javax.faces.FACELETS_SUFFIX</param-name>
  		<param-value>.xhtml</param-value>
 	</context-param>
 
 	<!-- Se indica que el formateo HTML sea legible (default). Solo MyFaces. -->
 	<context-param>
 		<param-name>org.apache.myfaces.PRETTY_HTML</param-name>
 		<param-value>true</param-value>
 	</context-param>
 	
 	<!-- Resolucion parcial del bug de EL. -->
 	<context-param>
  		<param-name>javax.faces.INTERPRET_EMPTY_STRING_SUBMITTED_VALUES_AS_NULL</param-name>
  		<param-value>true</param-value>
 	</context-param>
 	
 	<!-- Parametro para permitir guardar unicamente los componentes del arbol que se hayan modificado (default). -->
 	<context-param>
  		<param-name>javax.faces.PARTIAL_STATE_SAVING</param-name>
  		<param-value>true</param-value>
 	</context-param>
 	
 	<!-- Se salva el estado en servidor (default), en lugar de mantener en cliente. -->
 	<context-param>
  		<param-name>javax.faces.STATE_SAVING_METHOD</param-name>
  		<param-value>server</param-value>
 	</context-param>

	<!-- Se indica que se serializa el estado de la vista (no el arbol) a byte stream antes de guardarlo en session (default true). Guarda referencia en otro caso. Solo Myfaces. --> 
 	<context-param>
  		<param-name>org.apache.myfaces.SERIALIZE_STATE_IN_SESSION</param-name>
  		<param-value>false</param-value>
 	</context-param>

	<!-- Se indica que se serializa el estado de la vista (no el arbol)  a byte stream antes de guardarlo en session (default false). Guarda referencia en otro caso. Solo Mojarra. -->
 	<context-param>
  		<param-name>com.sun.faces.serializeServerState</param-name>
  		<param-value>false</param-value>
 	</context-param> 	
 	
 	<!--  Se indica si se desea serializar la vista (arbol) en el servidor. Configuracion para clustering / HA / failover. -->
	<context-param>
		<param-name>com.sun.faces.enableHighAvailability</param-name>
		<param-value>false</param-value>
	</context-param> 	
 	<!-- TODO: No habra session failover por el momento. -->
 	

	<!-- Se indica el numero maximo de vistas almacenadas en session. Solo Myfaces. -->  
 	<context-param>
  		<param-name>org.apache.myfaces.NUMBER_OF_VIEWS_IN_SESSION</param-name>
  		<param-value>15</param-value>
 	</context-param>
 	<context-param>
 		 <!-- Solo desde 2.0.6. Antes, tambien como vista logica. -->
  		<param-name>org.apache.myfaces.NUMBER_OF_SEQUENTIAL_VIEWS_IN_SESSION</param-name>
  		<param-value>15</param-value> 	
 	</context-param>

	<!-- Se indica el numero maximo de vistas almacenadas en session. Solo Mojarra. -->
 	<context-param>
  		<param-name>com.sun.faces.numberOfLogicalViews</param-name>
  		<param-value>15</param-value>
 	</context-param>	
 	<context-param>
  		<param-name>com.sun.faces.numberOfViewsInSession</param-name>
  		<param-value>15</param-value>
 	</context-param>

	<!-- Se habilita el cacheado de recursos faces 2.0 (default). -->
 	<context-param>
  		<param-name>org.apache.myfaces.RESOURCE_HANDLER_CACHE_ENABLED</param-name>
  		<param-value>true</param-value>
 	</context-param>
 	
 	<!-- Se define el tamanyo de la cache de recursos (default 500). Solo MyFaces. -->
 	<context-param>
  		<param-name>org.apache.myfaces.RESOURCE_HANDLER_CACHE_SIZE</param-name>
  		<param-value>2048</param-value>
 	</context-param> 
 	<!-- Se define el tamanyo de la cache de recursos (default 2048). Solo Mojarra. -->
 	<context-param>
 		<param-name>com.sun.faces.resourceBufferSize</param-name>
 		<param-value>2048</param-value>
 	</context-param>
 	
 	<context-param>
	    <param-name>primefaces.THEME</param-name>
	    <param-value>omega</param-value>
	</context-param>
	
	<listener>
  		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
 	</listener>
 	
 	
 	<!-- Definicion del servlet faces. -->
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.faces</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>/faces/*</url-pattern>
	</servlet-mapping>
	
	<!-- Se define el tiempo por defecto de la duracion de la session. -->
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
	
	<!-- Se definen las paginas de libre acceso a la aplicacion. --> 
	<security-constraint>
  		<web-resource-collection>
    		<web-resource-name>Public</web-resource-name>
    		<description>Patron de pantallas accesibles publicamente</description>
    		<url-pattern>/pages/index.xhtml</url-pattern>
    		<url-pattern>/index.html</url-pattern>
		</web-resource-collection>
  	</security-constraint>
  	
  	<!-- Se definen las paginas de error del sistema. -->
	<error-page>
		<error-code>403</error-code>
		<location>/error403.jsp</location>
	</error-page>
		<error-page>
		<error-code>404</error-code>
		<location>/error404.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/error500.jsp</location>
	</error-page>
	<error-page>
		<exception-type>java.lang.RuntimeException</exception-type>
		<location>/error500.jsp</location>
	</error-page>	
	<error-page>
		<exception-type>javax.faces.application.ViewExpiredException</exception-type>
		<location>/error500.jsp</location>
	</error-page>
	
</web-app>